<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta charset="viewport" content="width=device-width, initial-scale=1.0">
        <title>HR Management</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>